<h2>Информация о книге</h2>
<div class="form">
    <p class="author">{{book?.author?.name}}</p>
    <p class="genre">{{book?.genre?.name}}</p>
    <p class="title">{{book?.title}}</p>
    <h3>Комментарии</h3>
    <div class="comments">

        <ul>
            <li *ngFor="let comment of comments">
                {{comment.text}} <span class="comment-author">   &nbsp;&nbsp;&nbsp;   {{comment.author}}</span>
            </li>
        </ul>
        <p-divider></p-divider>
    </div>
    <div class="bottom">

        <button pButton pRipple type="button" label="Назад" class="p-button-outlined p-button-secondary"
            (click)="goBack()"></button>
    </div>
</div>