.form {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: .5rem;
}

.title, .bottom {
    grid-column: span 2;
}

.title, .author, .genre {
    justify-self: stretch;
}

.bottom {
    justify-self: center;
    gap: .5rem;
    display: flex;
}


