<h2>Книга</h2>

<form [formGroup]="bookForm" class="form" (ngSubmit)="onSubmit()">

    <div class="author field">
        <label for="author">Автор</label>
        <p-dropdown id="author" [options]="authors" formControlName="author" placeholder="Выберите автора"
            optionLabel="name"></p-dropdown>
    </div>
    <div class="genre field">
        <label for="genre">Жанр</label>
        <p-dropdown id="genre" [options]="genres" formControlName="genre" placeholder="Выберите жанр"
            optionLabel="name"></p-dropdown>
    </div>

    <div class="title field">

        <label for="title">Название</label>
        <input type="text" pInputText id="title" formControlName="title" placeholder="Задайте название">
        <small *ngIf="bookForm.controls['title'].invalid" class="p-error block">Поле является обязательным</small>
        <p-divider></p-divider>

    </div>

    <div class="bottom">
        <button type="submit" pButton pRipple label="OK" class="p-button-outlined p-button-primary"></button>
        <button pButton pRipple type="button" label="Отмена" class="p-button-outlined p-button-secondary"
            (click)="goBack()"></button>
    </div>

</form>