.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    background-color: black;
    padding: 10px 20px;
    height: 50px;
    color: white;
}

body {
    margin: 0;
    
    /*font-family: sans-serif;*/
}

.item{
    padding: 5px 10px;
}

  .title {
    font-size: 1.5rem;
  }

  .logo {
    font-size: .8rem;
  }

  .content {
      margin: 1rem;
  }


  